* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Indie Flower', cursive;
  background-color: #EDEAE5;
}

h1{
  text-align: right;
  padding: 10px;
  font-size: 56px;
  color: #026670;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 20%;
}

li {
  margin: 20px;
  font-size: 24px;
  color: #026670;
}

.fizz-buzz {
  color:#E80E81;
}

.fizz {
  color:#0E69E8;
}

.buzz {
  color:#ED9F9F;
}
